* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #74ebd5, #acb6e5);
}

#container {
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  background: white;
  border-radius: 8px;
  padding: 1.8rem 1rem;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 1.2rem;
}

h1 i {
  margin-left: 0.25rem;
}

#newTask {
  margin-top: 1.2rem;
  background-color: rgb(236, 236, 236);
  border-radius: 1.9rem;
}

#newTask input {
  width: 20rem;
  background-color: rgb(236, 236, 236);
  line-height: 3rem;
  border: none;
  outline: none;
  margin-left: 1.6rem;
  font-size: 0.9rem;
}

#newTask button {
  border: none;
  width: 7rem;
  height: 100%;
  background-color: rgb(252, 120, 64);
  border-radius: 1.9rem;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 1.2rem 0.2rem 0;
  font-size: 0.9rem;
}

li {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

li i.far {
  font-size: 1.3rem;
  color: rgb(124, 124, 124);
}

li i.checked {
  color: rgb(252, 120, 64);
}

li span {
  width: 100%;
  padding: 0 0.8rem;
}

li span.checked {
  color: rgb(81, 81, 81);
  text-decoration: line-through;
}

li div {
  min-width: 2.2rem;
  min-height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

li div.removeBtn {
  font-size: 0.8rem;
}

li div.removeBtn:hover {
  background-color: rgb(236, 236, 236);
}
